<div class="card card-block login-card">
  <h3 class="form-label">Register Now!</h3>
  <span class="form-label">sign up to continue to Lines</span>
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-left" id="username">
        <i class="fa fa-user fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="User Account" type="text">
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Password" type="password">
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="re-password">
        <i class="fa fa-lock fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="Repeat password" type="password">
    </div>
    <div class="input-group">
      <span class="input-group-addon addon-left" id="email">
        <i class="fa fa-at fa-fw"></i>
      </span>
      <input class="form-control with-primary-addon" placeholder="E-mail" type="email">
    </div>
    <button class="btn btn-lg btn-primary">Login</button>
    <a href="login" class="btn btn-link">Back to Login. →</a>
  </div>
</div>
